opencv-python
streamlit-option-menu
streamlit-lottie
folium
fpdf
geocoder
geopy
gitpython
googlemaps
gunicorn
h5py
keras
markdown
matplotlib
ml-dtypes
numpy
opencv-python
pandas
pillow
protobuf
pyarrow
pydeck
pyjwt
python-dotenv
requests
scikit-learn
seaborn
streamlit
tensorflow
uvicorn

